@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.animated {
    animation-duration: 0.6s;
    animation-fill-mode: both;
}

.action-links a {
    margin-right: 5px; /* Spațiu între butoane */
}

.animated.fadeInUp {
    animation-name: fadeInUp;
}

/* Enhance the visual hierarchy */
.form-control {
    border-radius: 0.375rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
